<%= content_tag(:h2, "#{@address.persisted? ? 'Update' : 'Add'} a Shipping Address") %>

<%= form_for(@address, url: @address.persisted? ? checkout_shipping_address_path(@address) : checkout_shipping_addresses_path, remote: true) do |f| %>
  <div>
    <%= f.label(:street, "Street Address") %>
    <%= f.text_field(:street, tabindex: 1) %>

    <%= f.label(:street2, "Address Line 2") %>
    <%= f.text_field(:street2, tabindex: 2) %>

    <%= f.label(:city, "City") %>
    <%= f.text_field(:city, tabindex: 3) %>

    <%= f.label(:state, "State") %>
    <%= f.text_field(:state, tabindex: 4) %>

    <%= f.label(:postal_code, "ZIP / Postal Code") %>
    <%= f.text_field(:postal_code, tabindex: 5) %>

  </div>

  <%= submit_tag(f.object.persisted? ? "Update" : "Add Address") %>
<% end %>
