<section id="boutique-search">
  <%= form_tag(search_boutiques_path, method: :get, class: "search", data: { remote: true }) do %>
    <h2>Connect with boutiques you love</h2>
    <span>Shop the inventory they love</span>

    <%= text_field_tag(:q, "", placeholder: "Search for boutiques by boutique name, city, state or brand") %>
    <%= submit_tag("Search") %>
  <% end %>
</section>

<%= content_tag(:h3, "Boutiques") if @boutiques.present? %>
<%= image_tag "home/underline.png" , class: "underLine" %>

<section id="stream">
  <% @boutiques.each do |boutique| %>
    <%= render("stream/boutique", boutique: boutique) %>
  <% end %>
</section>
