<section id="account-signup">
	<div class="wrapper">
		<h2>Curated by your favorite boutiques.</h2>

		<div class="banners">
			<%= link_to("#", class: "twitter") do %>
				<%= image_tag("home/twitter.png") %>
				<span>Sign Up with Twitter</span>
			<% end %>

			<%= link_to("#", class: "facebook") do %>
				<%= image_tag("home/facebook.png") %>
				<span>Sign Up with Facebook</span>
			<% end %>

			<%= link_to(new_user_path(user_type: "shopper"), class: "email") do %>
				<span>Sign Up with Email</span>
			<% end %>
		</div>
	</div>
</section>

<h3>Trending</h3>

<section id="stream">
	<% 1.upto(18) do %>
		<%= render("stream/item") %>
	<% end %>
</section>
