<section id="account-login-signup">
	<%= form_tag() %>
		<h2>Curated by your favorite boutiques.</h2>

		<div class="left">
			<%= email_field_tag(:email, "", placeholder: "Email") %>
			<%= password_field_tag(:password, "", placeholder: "Password") %>
			<%= submit_tag("Begin Shopping") %>
		</div>

		<div class="right">
			<%= link_to(class: "twitter") do %>
				<%= image_tag("home/twitter.png") %>
				<span>Sign Up with Twitter</span>
			<% end %>

			<%= link_to(class: "facebook") do %>
				<%= image_tag("home/facebook.png") %>
				<span>Sign Up with Facebook</span>
			<% end %>
		</div>
	</form>
</section>

<h3>Trending</h3>

<section id="stream">
	<% 1.upto(18) do %>
		<%= render("stream/item") %>
	<% end %>
</section>
