<section id="account-signup">
	<%= form_for(:user, url: user_registration_path, remote: true) do |f| %>
		<h2>Curated by your favorite boutiques.</h2>

		<div class="left">
			<%= f.text_field(:first_name, placeholder: "First Name") %>
			<%= f.text_field(:last_name, placeholder: "Last Name") %>
			<%= f.email_field(:email, placeholder: "Email") %>
		</div>

		<div class="right">
			<%= link_to("#", class: "email") do %>
				<span>Sign Up with Email</span>
			<% end %>

			<%= link_to(omniauth_authorize_path("user", "twitter"), class: "twitter") do %>
				<%= image_tag("home/twitter.png") %>
				<span>Sign Up with Twitter</span>
			<% end %>

			<%= link_to(omniauth_authorize_path("user", "facebook"), class: "facebook") do %>
				<%= image_tag("home/facebook.png") %>
				<span>Sign Up with Facebook</span>
			<% end %>
		</div>
	<% end %>
</section>

<h3>Trending</h3>

<section id="stream">
	<% 1.upto(18) do %>
		<%= render("stream/item") %>
	<% end %>
</section>

<script>
$(function() {
	$("a.email").click(function() {
		$("form").submit();
	});

	<% if flash[:errors] %>
	alert("Could not account because <%= j(flash[:errors].full_messages.join(", ")) %>");
	<% end %>
})
</script>
