<section id="boutique-search">
  <%= form_tag(search_boutiques_path, method: :get, class: "search", data: { remote: true }) do %>
    <h2>Search For Boutiques By&hellip;</h2>
    <span>Boutique Name, City, State, or Brand</span>

    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</section>

<%= content_tag(:h3, "Boutiques") if @boutiques.present? %>

<section id="stream">
  <% @boutiques.each do |boutique| %>
    <%= render("stream/boutique", boutique: boutique) %>
  <% end %>
</section>
