<%= form_for([:admin, @item], role: "form") do |f| %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:price) %>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field(:price, value: number_to_currency(@item.price, unit: ""), class: "form-control") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:construction) %>
        <%= f.text_area(:construction, class: "form-control") %>
        <p class="help-block">This field will be parsed by <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a>.</p>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:fit) %>
        <%= f.text_area(:fit, class: "form-control") %>
        <p class="help-block">This field will be parsed by <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a>.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label(:description) %>
        <%= f.text_area(:description, class: "form-control") %>
        <p class="help-block">This field will be parsed by <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a>.</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:model_height) %>

        <div class="input-group">
          <%= f.text_field(:model_height, class: "form-control") %>
          <span class="input-group-addon">&#8243;</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:model_chest, "Model bust") %>

        <div class="input-group">
          <%= f.text_field(:model_chest, class: "form-control") %>
          <span class="input-group-addon">&#8243;</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:model_size, "Model is wearing size&hellip;".html_safe) %>
        <%= f.text_field(:model_size, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:model_hips) %>

        <div class="input-group">
          <%= f.text_field(:model_hips, class: "form-control") %>
          <span class="input-group-addon">&#8243;</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:model_waist) %>

        <div class="input-group">
          <%= f.text_field(:model_waist, class: "form-control") %>
          <span class="input-group-addon">&#8243;</span>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-12 brand-select">
      <div class="form-group">
        <%= f.label(:brand_id) %>
        <%= f.select(:brand_id, (@brands.map{|d| [d.name, d.id] } << ["(Add a New Brand)", -1]), {}, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 brand-add" style="display:none;">
      <div class="form-group brand-add">
        <%= label_tag(:brand_name, "Add a New Brand") %>

        <div class="input-group">
          <%= text_field_tag(:brand_name, "", placeholder: "Before continuing, add a new brand", class: "form-control") %>
          <%= content_tag(:span, button_tag("Add Brand", class: "btn btn-xs btn-primary"), class: "input-group-addon", id: "add-brand") %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:boutique_id) %>
        <%= f.select(:boutique_id, @boutiques.map{|b| [b.name, b.id] }, {}, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:primary_category_id, "Primary Category") %>
        <%= f.select(:primary_category_id, (@primary_categories.map{|d| [d.name, d.id] }), {}, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:secondary_category_id, "Secondary Category") %>
        <%= f.select(:secondary_category_id, Array.wrap(@secondary_categories[f.object.primary_category_id]).map{|c| [c.name, c.id]}, { include_blank: true }, class: "form-control") %>
      </div>
    </div>
  </div>

  <hr>

  <%= button_tag((@item.persisted? ? "Update Item" : "Create Item"), class: "btn btn-default") %>
<% end %>

<script>
var secondaryCategories = <%= @secondary_categories.to_json.html_safe %>;

$(function() {
  SiteBindings.item.brands("/admin");

  $("#item_primary_category_id").change(function() {
    var id = parseInt($(this).val());

    if(id == "")
      return true;

    var categories = secondaryCategories[id];

    secondarySelect = $("#item_secondary_category_id");

    secondarySelect.children().remove();
    secondarySelect.append($("<option></option>").val("").text(""));

    for(i = 0; i < categories.length; i++)
      secondarySelect.append($("<option></option>").val(categories[i].id).text(categories[i].name));
  });
});
</script>
