<div id="login">
  <%= form_for(@user, url: user_registration_path) do |f| %>
    <%= content_tag(:div, class: "group half-width") do %>
      <%= link_to("Sign In", new_user_session_path, class: "fancybox", :"data-fancybox-type" => "ajax") %>
      <%= link_to("Sign Up", "#", class: "active") %>
    <% end unless session["devise.omniauth_data"] %>

    <div class="group">
      <%= f.text_field(:first_name, placeholder: "First Name") %>
      <%= f.text_field(:last_name, placeholder: "Last Name") %>
      <%= f.email_field(:email, placeholder: "Email", autofocus: true) %>

      <% if session["devise.omniauth_data"] %>
      <%= submit_tag("Complete Registration") %>
      <% else %>
      <%= submit_tag("Sign Up") %>
      <% end %>
    </div>

    <% unless session["devise.omniauth_data"] %>
    <div class="group">
      <div class="or">or</div>
    </div>

    <div class="group">
      <%= link_to(omniauth_authorize_path("user", "twitter"), class: "twitter") do %>
        <%= image_tag("home/twitter.png") %>
        <span>Sign Up with Twitter</span>
      <% end %>

      <%= link_to(omniauth_authorize_path("user", "facebook"), class: "facebook") do %>
        <%= image_tag("home/facebook.png") %>
        <span>Sign Up with Facebook</span>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
