<div id="login">
  <%= form_for(:user, url: user_registration_path) do |f| %>
    <div class="group half-width">
      <%= link_to("Sign In", new_user_session_path, class: "fancybox", :"data-fancybox-type" => "ajax") %>
      <%= link_to("Sign Up", "#", class: "active") %>
    </div>

    <div class="group">
      <%= f.text_field(:first_name, placeholder: "First Name") %>
      <%= f.text_field(:last_name, placeholder: "Last Name") %>
      <%= email_field_tag(:email, "", placeholder: "Email", autofocus: true) %>
      <%= submit_tag("Sign Up") %>
    </div>

    <div class="group">
      <span>or</span>
    </div>

    <div class="group">
      <%= link_to(omniauth_authorize_path("user", "twitter"), class: "twitter") do %>
        <%= image_tag("home/twitter.png") %>
        <span>Sign Up with Twitter</span>
      <% end %>

      <%= link_to(omniauth_authorize_path("user", "facebook"), class: "facebook") do %>
        <%= image_tag("home/facebook.png") %>
        <span>Sign Up with Facebook</span>
      <% end %>
    </div>
  <% end %>
</div>
