<%= form_for([:admin, @boutique], role: "form") do |f| %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:short_code) %>
        <%= f.text_field(:short_code, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label(:description) %>
        <%= f.text_area(:description, class: "form-control") %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:website) %>
        <%= f.text_field(:website, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:facebook) %>
        <%= f.text_field(:facebook, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:twitter) %>
        <%= f.text_field(:twitter, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:pinterest) %>
        <%= f.text_field(:pinterest, class: "form-control") %>
      </div>
    </div>
  </div>

  <hr>

  <%= button_tag((@boutique.persisted? ? "Update Boutique" : "Create Boutique"), class: "btn btn-default") %>
<% end %>
