<%= form_for([:admin, @boutique], role: "form") do |f| %>
	<div class="row">
		<div class="col-lg-6 col-xs-12">
		  <div class="form-group">
				<%= f.label(:name) %>
				<%= f.text_field(:name, class: "form-control") %>
		  </div>
		</div>

		<div class="col-lg-6 col-xs-12">
		  <div class="form-group">
				<%= f.label(:short_code) %>
				<%= f.text_field(:short_code, class: "form-control") %>
		  </div>
		</div>
	</div>

	<hr>

	<%= button_tag((@boutique.persisted? ? "Update Boutique" : "Create Boutique"), class: "btn btn-default") %>
<% end %>
