<%= form_for([:admin, @boutique], role: "form") do |f| %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:short_code) %>
        <%= f.text_field(:short_code, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label(:description) %>
        <%= f.text_area(:description, class: "form-control") %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:email) %>
        <%= f.text_field(:email, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:phone) %>
        <%= f.text_field(:phone, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:website) %>
        <%= f.text_field(:website, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:facebook) %>
        <%= f.text_field(:facebook, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:twitter) %>
        <%= f.text_field(:twitter, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:pinterest) %>
        <%= f.text_field(:pinterest, class: "form-control") %>
      </div>
    </div>
  </div>

  <hr>

  <%= f.fields_for(:address_attributes, @boutique.address) do |fl| %>
  <%= fl.hidden_field(:id) %>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= fl.label(:street) %>
        <%= fl.text_field(:street, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= fl.label(:street2) %>
        <%= fl.text_field(:street2, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= fl.label(:city) %>
        <%= fl.text_field(:city, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= fl.label(:state) %>
        <%= fl.select(:state, us_states, { include_blank: true }, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= fl.label(:postal_code) %>
        <%= fl.text_field(:postal_code, class: "form-control") %>
      </div>
    </div>
  </div>
  <% end %>

  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:cover_photo) %>
        <%= f.file_field(:cover_photo, class: "form-control") %>
        <%= link_to(image_tag(@boutique.cover_photo.thumb.url), @boutique.cover_photo.url, target: "_blank") %>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= f.label(:stream_photo) %>
        <%= f.file_field(:stream_photo, class: "form-control") %>
        <%= link_to(image_tag(@boutique.stream_photo.thumb.url), @boutique.stream_photo.url, target: "_blank") %>
      </div>
    </div>
  </div>

  <hr>

  <%= button_tag((@boutique.persisted? ? "Update Boutique" : "Create Boutique"), class: "btn btn-default") %>
<% end %>
