<div class="admin">
  <%= link_to("Add a New Boutique", [:new, :admin, :boutique], class: "btn btn-default") %>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Short Code</th>
        <th># of Items</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @boutiques.each do |boutique| %>
      <tr>
        <%= content_tag(:td, boutique.id) %>
        <%= content_tag(:td, boutique.name) %>
        <%= content_tag(:td, boutique.short_code) %>
        <%= content_tag(:td, boutique.items.size) %>

        <td>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
              Manage <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <%= content_tag(:li, link_to("Edit", [:edit, :admin, boutique], tabindex: "-1", role: "menuitem")) %>
              <li role="presentation" class="divider"></li>
              <li role="presentation" class="dropdown-header">Danger Zone</li>
              <%= content_tag(:li, link_to("Delete", [:admin, boutique], data: { confirm: "Are you sure you want to delete this boutique?", method: :delete }, tabindex: "-1", role: "menuitem")) %>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <hr>
  <%= link_to("Add a New Boutique", [:new, :admin, :boutique], class: "btn btn-default") %>
</div>
