<div class="section1 trunkit">
  <%= image_tag("home/LogoWhite.png", :class => "logo") %>
  <h1 trunksale>Always have what your customer wants</h1>
  <h3 trunksale>Tap into the inventory of other boutiques. When you don't have it they will.</h3>
  <a href="https://trunkit.typeform.com/to/QBT5cl">
    <div class="startButton">
      Learn More
    </div>
  </a>
  <div class="videoBackground">
    <div>
      <h3>Opening the Doors:
      <br>
      February 2015</h3>
    </div>
  </div>
</div>
<div class="belowFold">
  <div class="foot">
    <ul class="theBiz">
      <li><a href="Trunkit.zendesk.com">Support Center</a></li>
      <li><a href="#">Contact the Team</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="theSocial">
      <li><a href="http://facebook.com/thetrunksale"><%= image_tag("home/fb.png") %></a></li>
      <li><a href="http://twitter.com/teamtrunkit"><%= image_tag("home/twit.png") %></a></li>
      <li><a href="http://instagram.com/teamtrunksale"><%= image_tag("home/insta.png") %></a></li>
      <li><a href="http://www.pinterest.com/thetrunksale/"><%= image_tag("home/pin.png") %></a></li>
      <li><a href="http://thetrunksale.tumblr.com/"><%= image_tag("home/tumblr.png") %></a></li>
    </ul>
    <p>© 2014 Swayly LLC. All rights reserved.</p>
  </div>
</div>