<div id="profile">
	<article class="storeprofile">
		<div>
			<div class="img">
				<%= link_to(image_tag("feed/weekends.jpg"), "#", class: "img") %>
			</div>
			<div class="binfo">
				<span class="bname">Boulder Boutique</span>
				<div class="description">
					<span class="content">
						<p>incididunt ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor sit ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor sit ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s</P>
					</span>
				</div>
				<%= link_to("Unfollow", "#", class: "unfollow") %>
				<div class="bottom">
					<span class="website"
						<a href="#" class="website">boulderboutique.com</a>
					</span>
					<span class="social">
						<%= link_to(image_tag("feed/facebook.png"), "#") %>
						<%= link_to(image_tag("feed/twitter.png"), "#") %>
						<%= link_to(image_tag("feed/pinterest.png"), "#") %>
					</span>
					<span class="contact1">
						<span class="address">
							326 Pearl St, Boulder, CO 80302
						</span>
						<span class="phone">
							303 123 456
						</span>
					</span>
					<span class="contact2">
						<span class="address">
							326 Pearl St, Boulder, CO 80302
						</span>
						<span class="phone">
							303 123 456
						</span>
					</span>
					<span class="contact3">
						<span class="address">
							326 Pearl St, Boulder, CO 80302
						</span>
						<span class="phone">
							303 123 456
						</span>
					</span>
				</div>
			</div>
		</div>
	</article>
	<% 1.upto(8) do %>
		<article class="item">
			<div>
				<div class="img">
					<%= link_to(image_tag("feed/dress.jpg"), "#", class: "img") %>
				</div>
				<div class="details">
					<span class="price">$1,085</span>
					<%= link_to(image_tag("feed/star.png"), "#", class: "star") %>

					<p class="name">
						<a class="item-name" href="#">Dress abc</a><br>
						<a href="#">by Designer A</a><br>
						<a href="#">Spring 2013</a>
					</p>

					<%= link_to("Buy", "#", class: "buy") %>

					<div class="social">
						<%= link_to(image_tag("feed/facebook.png"), "#") %>
						<%= link_to(image_tag("feed/twitter.png"), "#") %>
						<%= link_to(image_tag("feed/pinterest.png"), "#") %>
					</div>
				</div>
				<div class="info">
					<span class="store">Boulder Boutique</span>
					<span class="city">MI</span>
				</div>
			</div>
		</article>
	<% end %>
</div>
