<article class="boutique">
  <section class="cover-photo">
    <div class="shroud"></div>
    <%= image_tag(@boutique.cover_photo.banner.url) %>
  </section>

  <section class="info">
    <%= content_tag(:span, @boutique.name, class: "name") %>
    <%= link_to(@boutique.website, "http://#{@boutique.website}", target: "_blank", class: "website") %>

    <%= content_tag(:p, @boutique.description) %>

    <% if current_user %>
      <% if current_user.boutiques_following_ids.include?(@boutique.id) %>
      <%= link_to("Unfollow", [:unfollow, @boutique], method: :put, remote: true, class: "unfollow button boutique-#{@boutique.id}") %>
      <% else %>
      <%= link_to("Follow", [:follow, @boutique], method: :put, remote: true, class: "follow button boutique-#{@boutique.id}") %>
      <% end %>
    <% end %>
  </section>

  <section class="contact">
    <div class="social">
      <%= link_to(image_tag("feed/facebook_icon.png"), @boutique.facebook, target: "_blank") if @boutique.facebook.present? %>
      <%= link_to(image_tag("feed/twitter_icon.png"), @boutique.twitter, target: "_blank") if @boutique.twitter.present? %>
      <%= link_to(image_tag("feed/pinterest_icon.png"), @boutique.pinterest, target: "_blank") if @boutique.pinterest.present? %>
    </div>

    <div class="locations">
      <%= content_tag(:address, @boutique.address.to_s) %>
      <%= content_tag(:span, @boutique.phone, class: "phone") %>
    </div>
  </section>

  <div class="cb"></div>
</article>

<%= content_tag(:div, class: "boutique notification error") do %>
  <%= @boutique.name %> isn't currently curating <%= "or supplying" if current_user.try(:boutique_user?) %>any inventory. Login to "Follow" them, so that the next time they curate <%= "or supply" if current_user.try(:boutique_user?) %>an item, you'll be the first to know!
<% end if @activity_items.blank? %>

<div id="stream">
  <% @activity_items.each do |activity, item| %>
    <%= render("stream/item", activity: activity, item: item) %>
  <% end %>
</div>

<script>$(function() { SiteBindings.stream.items(); });</script>
