<article class="boutique">
  <section class="cover-photo">
    <div class="shroud"></div>
    <%= image_tag(@boutique.cover_photo.banner.url) %>
  </section>

  <section class="info">
    <%= content_tag(:span, @boutique.name, class: "name") %>
    <%= link_to("boulderboutique.com", "#", target: "_blank", class: "website") %>

    <p>incididunt ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor sit ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor sit ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s ame ut labore et dolore/ magna aliqua. Ut enim ad mi Lorem ipsum dolor s</p>

    <%= link_to("Follow", "#", class: "button follow") %>
  </section>

  <section class="contact">
    <div class="social">
      <%= link_to(image_tag("feed/facebook.png"), "#") %>
      <%= link_to(image_tag("feed/twitter.png"), "#") %>
      <%= link_to(image_tag("feed/pinterest.png"), "#") %>
    </div>

    <div class="locations">
      <%= link_to("More Locations", "#", class: "button") %>
      <%= content_tag(:address, @boutique.primary_location.to_s) %>
      <span class="phone">555 555 1212</span>
    </div>
  </section>

  <div class="cb"></div>
</article>

<div id="stream">
  <% @boutique.items.each do |item| %>
    <%= render("stream/item", item: item) %>
  <% end %>
</div>

