<p><%= @user.name %> from <%= @item.boutique.name %> submitted the following item:</p>
<% if @item.list_on_trunksale == 2 %>
	<p><%= @item.boutique.name %> WOULD like this item listed on the Trunksale</p>
<% else %>
	<p><%= @item.boutique.name %> WOULD NOT like this item listed on the Trunksale</p>
<% end %>

<p>
	Boutique Name: <%= @item.boutique.name %>
</p>

<p>
	Item Name: <%= @item.name %>
</p>

<p>
	Description: <%= @item.description %>
	<br>
	Fit: <%= @item.fit %>
	<br>
	Material: <%= @item.construction %>
	<br>
	Brand: <%= @item.brand.name %>
	<br>
	Category: <%= @item.primary_category.name %>
	<br>
	Sub Category: <%= @item.secondary_category.name %>
	<br>
	Price: <%= @item.price %>
	<br>
	Base Price: <%= @item.discount_amount * 1.08 %>
	<br>
	Sizes: <%= @item.sizes %>
</p>

<p>
	Photos: <%= render(partial: "items/photo", collection: @item.photos, as: :photo) %>
</p>