<p>Boutique Name: <%= @user.name %></p>

<p>
	Item Name: <%= @item.name %>
	<br>
	Brand: <%= @item.brand_id %>
</p>

<p>
	Price: <%= @item.price %>
	<br>
	Category: <%= @item.primary_category_id %>
	<br>
	Sub Category: <%= @item.secondary_category_id %>
	<br>
	Description: <%= @item.description %>
	<br>
	Fit: <%= @item.fit %>
	<br>
	Material: <%= @item.construction %>
</p>

<p>
	Photos: <%= @item.photos =>
</p>