<% user.name %> from <%= @item.boutique.name %></p> submitted the following item:

<p>
	Boutique Name: <%= @item.boutique.name %>
</p>

<p>
	Item Name: <%= @item.name %>
	<br>
	Brand: <%= @item.brand.name %>
</p>

<p>
	Price: <%= @item.price %>
	<br>
	Category: <%= @item.primary_category.name %>
	<br>
	Sub Category: <%= @item.secondary_category.name %>
	<br>
	Description: <%= @item.description %>
	<br>
	Fit: <%= @item.fit %>
	<br>
	Material: <%= @item.construction %>
	<br>
	Sizes: <%= @item.sizes %>
</p>

<p>
	Photos: <%= render(partial: "items/photo", collection: @item.photos, as: :photo) %>
</p>