<p>Boutique Name: <%= @user.name %></p>

<p>
	<strong>Item Name:</strong> <%= @item.name %>
	<br>
	<strong>Brand:</strong> <%= @item.brand_name %>
</p>

<p>
	<strong>Price:</strong> <%= @item.price %>
	<br>
	<strong>Category:</strong> <%= @item.primary_category_id %>
	<br>
	<strong>Sub Category:</strong> <%= @item.secondary_category_id %>
	p<br>
	<strong>Description:</strong> <%= @item.description %>
	<br>
	<strong>Fit:</strong> <%= @item.fit %>
	<br>
	<strong>Material:</strong> <%= @item.construction %>
</p>

<p>
	<strong>Photos:</strong> <%= render(partial: "items/photo", collection: @item.photos, as: :photo) %>
</p>