<div class="admin">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Total</th>
        <th>Ordered At</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |cart| %>
      <tr>
        <%= content_tag(:td, cart.id) %>
        <%= content_tag(:td, @users[cart.user_id].first_name) %>
        <%= content_tag(:td, @users[cart.user_id].last_name) %>
        <%= content_tag(:td, number_to_currency(cart.total_price)) %>
        <%= content_tag(:td, cart.captured_at.strftime("%m/%d/%Y %I:%M %p")) %>
        <td>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
              Manage <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <%= content_tag(:li, link_to("View Order", admin_order_path(cart.id), tabindex: "-1", role: "menuitem")) %>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$(function() {
  $("table").dataTable({
    order: [[4, "desc"]]
  });
});
</script>
