<div class="section1 trunksale">
	<%= image_tag("home/TheTrunksaleLogo.png", :class => "logo") %>
  <h1 trunksale>The Solution to Out of Season Inventory</h1>
  <h3 trunksale>Sign up and start selling your inventory today</h3>
  <a href="https://trunkit.typeform.com/to/QBT5cl">
    <div class="startButton">
      Start Selling
    </div>
  </a>
  <div class="videoBackground trunksale">
      <%= image_tag("home/triangle.png", :class => "triangle") %>
  </div>
</div>
<div class="belowFold">
	<div class="howItWorks">
    <h2 class="how">It’s as easy as 1, 2, 3</h2>
    <p class="howExplained">List your sales inventory and start selling anonymously to shoppers across the USA.</p>
    <div class="showSteps">
      <div class="steps step1">
        <%= image_tag("home/selectClothes.png") %>
        <div class="stepNumber">1</div>
        <h3 class="explainHeader">Choose an Item</h3>
        <p class="explainSub">List your men's or women's out of season inventory.</p>
      </div>
      <div class="steps step2">
        <%= image_tag("home/realPic.png") %>
        <div class="stepNumber">2</div>
        <h3 class="explainHeader">Include a Photo</h3>
        <p class="explainSub">Take a few photos using our app or request product shots from the brand.</p>
      </div>
      <div class="steps step3">
        <%= image_tag("home/Hand.png") %>
        <div class="stepNumber">3</div>
        <h3 class="explainHeader">Select the Discount</h3>
        <p class="explainSub">Supply the discount and additional information about the item.</p>
      </div>
    </div>
  </div>
  <div class="theResult">
    <h2 class="how result">The Result</h2>
    <%= image_tag("home/sampleProduct.jpg") %>
  </div>
  <div class="teamTrunkit">
    <h2 class="how">Leave the rest to us</h2>
    <div class="features">
	    <div class="feature creditCard">
	      <%= image_tag("home/creditCard.png") %>
	      <h3 class="explainHeader">Secure Payments</h3>
	      <p class="explainSub">We handle all payment processing and protect against fraudulent activity.</p>
	    </div>
	    <div class="feature">
	      <%= image_tag("home/shippingBox.png") %>
	      <h3 class="explainHeader">Painfree Shipping</h3>
	      <p class="explainSub">The Trunksale will cover the cost of and provide you with shipping labels. Simply print and pack. It’s that easy!</p>
	    </div>
	    <div class="feature cashMoney">
	      <%= image_tag("home/cashMoney.png") %>
	      <h3 class="explainHeader">Simple Payouts</h3>
	      <p class="explainSub">You’ll receive a check or deposit directly to your bank account every other week.</p>
	    </div>
	  </div>
  </div>
  <div class="joinUs">
    <h2>Become a partner & start selling items on the trunksale today</h2>
    <a href="https://trunkit.typeform.com/to/QBT5cl">
      <div class="startButton">
        Start Selling
      </div>
    </a>
  </div>
  <div class="foot">
    <ul class="theBiz">
      <li><a href="Trunkit.zendesk.com">Support Center</a></li>
      <li><a href="#">Contact the Team</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="theSocial">
      <li><a href="http://facebook.com/thetrunksale"><%= image_tag("home/fb.png") %></a></li>
      <li><a href="http://twitter.com/teamtrunkit"><%= image_tag("home/twit.png") %></a></li>
      <li><a href="http://instagram.com/teamtrunksale"><%= image_tag("home/insta.png") %></a></li>
      <li><a href="http://www.pinterest.com/thetrunksale/"><%= image_tag("home/pin.png") %></a></li>
      <li><a href="http://thetrunksale.tumblr.com/"><%= image_tag("home/tumblr.png") %></a></li>
    </ul>
    <p>© 2014 Swayly LLC. All rights reserved.</p>
  </div>
</div>