<div class="orders">
  <header>
    <%= content_tag(:span, "Total Amount Owed to You: $572") %>
    <%= content_tag(:span, "Next Payment To Be Paid On: 5/31/14") %>
  </header>

  <% 1.upto(5) do %>
  <div class="order">
    <%= content_tag(:span, "Customer: Jane Doe", class: "name") %>
    <%= content_tag(:address, "123 Test Street<br>Boulder, CO 12345".html_safe) %>

    <article class="items">
      <% Item.page(1).per(2).each do |item| %>
      <%= content_tag(:section, class: "item") do %>
        <%= image_tag(item.primary_photo.url.thumb) %>

        <div>
          <%= content_tag(:span, item.name) %>

          <ul>
            <%= content_tag(:li, "Color: Peach with White Top") %>
            <%= content_tag(:li, "Size: Medium") %>
            <%= content_tag(:li, "Qty: 1") %>
            <%= content_tag(:li, "Price: $123.34") %>
            <%= content_tag(:li, "Shipping: $12.32") %>
          </ul>
        </div>

        <% if false %>
        <%= link_to("Mark Shipped", "#", class: "btn") %>
        <% else %>
        <%= link_to("Supported!", "#", class: "btn btn-supplied") %>
        <% end %>
      <% end %>
      <% end %>
    </article>
  </div>
  <% end %>
</div>
