<div class="orders">
  <header>
    <%= content_tag(:span, "Total Amount Owed to You: #{number_to_currency(@commissions.sum(&:value))}") %>
    <%= content_tag(:span, "Next Payment Will Be On: #{(Time.now.end_of_week - 172800).strftime("%m/%d/%Y")}") %>
  </header>

  <% @orders.each do |cart| %>
  <div class="order">
    <%= content_tag(:span, "Customer: #{@users[cart.user_id].name}", class: "name") %>
    <%= content_tag(:address, "#{cart.shipping_address.to_s.gsub("\n", '<br>')}".html_safe) %>

    <article class="items">
      <% cart.items.each do |cart_item| %>
      <%= content_tag(:section, class: "item") do %>
        <%= image_tag(cart_item.item.primary_photo.url.thumb) %>

        <%= content_tag(:div, class: "cart-item-complete", id: "cart-item-complete-#{cart_item.id}") do %>
          <h3>Complete Order</h3>
          <p>Select "COMPLETE ORDER" to access the free<br>UPS shipping label or select "UNABLE TO COMPLETE" to notify the customer.</p>
          <%= link_to("Mark Completed", order_item_complete_path(cart_item.id), data: { method: :put }) %>
          <%= link_to("Unable to Complete", new_order_item_cancellation_path(cart_item.id), data: { remote: true }) %>
        <% end %>

        <div>
          <%= content_tag(:span, cart_item.item.name) %>

          <ul>
            <%= content_tag(:li, "Size: #{cart_item.size}") if cart_item.size.present? %>
            <%= content_tag(:li, "Qty: #{cart_item.quantity}") %>
            <%= content_tag(:li, "Price: #{number_to_currency(cart_item.unit_price)}") %>
            <%= content_tag(:li, "Shipping: #{number_to_currency(cart_item.shipping)}") %>
          </ul>
        </div>

        <%= item_order_status_button(current_user, cart_item) %>
      <% end %>
      <% end %>
    </article>
  </div>
  <% end %>
</div>
