<div class="checkout" id="cart">
  <h1>Checkout</h1>

  <nav>
    <ul>
      <li class="active">Shopping Cart</li>
      <li>Shipping Address</li>
      <li>Delivery Options</li>
      <li>Payment Method</li>
      <li>Confirm Order</li>
    </ul>
  </nav>

  <div class="items">
    <header>
      <div class="name">Item(s)</div>
      <div class="price">Price</div>
      <div class="quantity">Quantity</div>
      <div class="total">Total</div>
    </header>

    <% current_cart.items.each do |cart_item| %>
    <div class="row">
      <div class="name">
        <%= image_tag(cart_item.item.primary_photo.url.stream) %>

        <div class="right">
          <%= content_tag(:span, cart_item.item.name, class: "name") %>

          <%= content_tag(:span, "Size: #{cart_item.size}") %>

          <%= link_to('Remove', [:cart, cart_item], method: :delete, remote: true, class: "remove") %>
        </div>
      </div>

      <%= content_tag(:div, number_to_currency(cart_item.unit_price), class: "price") %>

      <div class="quantity">
        <%= form_tag([:cart, cart_item], remote: true, method: :patch) do %>
        <%= select_tag(:quantity, options_for_select((1..cart_item.item.sizes[cart_item.size].to_i).to_a, cart_item.quantity)) %>
        <% end %>
      </div>

      <%= content_tag(:div, number_to_currency(cart_item.subtotal_price), class: "total") %>
    </div>
    <% end %>

    <%= content_tag(:div, class: "notification error") do %>
      <em>Oh No!</em>
      It looks like your cart is empty. If you're having trouble finding something you like, try discovering new boutiques to inspire you by visiting "SEARCH". Feel free to contact the Trunkit team for any assistance, just email <%= mail_to("Team@Trunkit.com") %>.
    <% end if current_cart.items.blank? %>

    <footer>
      <%= content_tag(:div, "Subtotal: #{number_to_currency(current_cart.subtotal_price)}", class: "total") %>

      <% if current_user.account_balance < 0 %>
        <%= content_tag(:div, "Trunkit Credit: #{number_to_currency(current_user.account_balance.abs)}", class: "total") %>
        <%= content_tag(:div, "Subtotal after Credit: #{number_to_currency(current_cart.subtotal_price_after_credit)}", class: "total") %>
      <% end %>
    </footer>
  </div>

  <%= link_to("Checkout", checkout_shipping_addresses_path) if current_cart.items.present? %>
</div>

<script>$(function() { SiteBindings.cart(); });</script>
