<div id="following">
	<% 1.upto(2) do %>
	<article>
		<section>
			<div class="photos">
				<%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-prn1/544546_410983472249925_322215139_n.jpg") %>
				<%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-prn1/45675_154445854570356_6557169_n.jpg") %>
				<%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-prn1/15972_557622874252650_1484990125_n.jpg") %>
				<%= image_tag("https://sphotos-b.xx.fbcdn.net/hphotos-ash4/481634_557622870919317_1149295644_n.jpg") %>
			</div>

			<div class="info">
				<span class="name">Van Boven</span>
				<span class="counts">1,000 followers &bull; 500 sponsored</span>
				<span class="city">ARB</span>
			</div>

			<div class="cb"></div>
		</section>

		<%= link_to("Unfollow", "#", class: "unfollow") %>
	</article>
	<% end %>
</div>
