<%= content_tag(:div, class: "notification error") do %>
  <em>Error:</em> <%= content_tag(:span, @error) %>
<% end if @error.present? %>

<div id="user-settings">
  <h2>Company Payment Settings (Used only to issue payments)</h2>

  <%= form_for(:recipient, url: payments_company_path, html: { class: "info" }) do |f| %>
    <%= render("form", f: f) %>

    <div>
      <div class="spacer">
        <%= f.check_box(:agree_to_terms, required: true) %>
        You agree on behalf of <%= current_user.parent.name %>'s to adhere to the <%= link_to("Terms of Use", "/terms-of-use", target: "_blank") %> and the <%= link_to("Privacy Policy", "/privacy-policy", target: "_blank") %>.
      </div>
    </div>

    <%= button_tag("Add Payment Data", type: "submit") %>
  <% end %>
</div>
