<div class="checkout" id="delivery-options">
  <h1>Checkout</h1>

  <nav>
    <ul>
      <%= content_tag(:li, link_to("Shopping Cart", cart_path), class: "active") %>
      <%= content_tag(:li, link_to("Shipping Address", checkout_shipping_addresses_path), class: "active") %>
      <li class="active">Delivery Options</li>
      <li>Payment Method</li>
      <li>Confirm Order</li>
    </ul>
  </nav>

  <%= form_tag(checkout_delivery_options_path, method: :put) do %>
    <div class="items">
      <header>
        <div class="name">Item(s)</div>
        <div class="service">Delivery Option</div>
      </header>

      <% current_cart.items.each do |cart_item| %>
        <div class="row">
          <div class="name">
            <%= image_tag(cart_item.item.primary_photo.url.stream) %>

            <div class="right">
              <%= content_tag(:span, cart_item.item.name, class: "name") %>
              <%= content_tag(:span, "Size: #{cart_item.size}") %>
              <%= content_tag(:span, "Price: #{number_to_currency(cart_item.unit_price)}") %>
              <%= content_tag(:span, "Quantity: #{cart_item.quantity}") %>
            </div>
          </div>

          <div class="service">
            <% cart_item.rates.each do |name, rate| %>
            <label>
              <%= radio_button_tag("shipping_rates[#{cart_item.id}]", rate.id, (cart_item.rate == rate)) %>
              <%= content_tag(:span, "#{name} - #{number_to_currency(rate.rate)}") %>
            </label>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= submit_tag("Continue") %>
  <% end %>
</div>
