<%= content_tag(:article, class: "item", id: "stream-item-#{item.id}") do %>
  <div>
    <div class="img">
      <%= link_to(image_tag(item.primary_photo.url.stream), item_path(item, activity_id: activity), class: "img fancybox fancybox.ajax") %>
    </div>
    <% if item.list_on_trunksale == 2 %>
      <div class="discountAmountBox">
        <div>
          <%= content_tag(:span, "#{((item.price - item.discount_amount) / item.price * 100).round(0).to_i}".html_safe, class: "percentNumber") %><span>%</span>
          <br>
          <span>Off</span>
        </div>
      </div>
    <% end %>
    <div class="details">
      <%= link_to(image_tag("feed/favorite#{'-selected' if current_user.favorite_item_activity_ids.include?(activity.id)}.png"), favorites_path(activity_id: activity.id), method: :post, remote: true, class: "favorite item-activity-#{activity.id}") if current_user && activity %>

      <p class="name">
        <%= link_to(item.name, (current_user ? item_path(item, activity_id: activity) : new_user_session_path), class: "fancybox fancybox.ajax name") %>
        <%= link_to("Designed by #{item.brand.name}", (current_user ? item_path(item, activity_id: activity) : new_user_session_path), class: "fancybox fancybox.ajax") %>
      </p>

      <%= content_tag(:span, "<em>#{number_to_currency(item.price)}</em>".html_safe, class: "price") %>

      <%= link_to("Edit", "#", class: "buy button edit item-#{item.id}") if current_user_owns_item?(item) %>

      <% if current_user && current_user.parent_id.blank? %>
      <%= link_to("Buy", item_path(item, activity_id: activity), class: "buy fancybox fancybox.ajax") %>
      <% elsif current_user %>
        <% if item.declined_boutique_ids.include?(current_user.parent_id) %>
        <%= link_to("Declined", "#", class: "buy button item-#{item.id} support") %>
        <% elsif current_user.parent.supported_item_ids.include?(item.id) %>
        <%= link_to("Uncurate", [:unsupport, item], method: :put, remote: true, class: "buy button item-#{item.id} unsupport") %>
        <% else %>
        <%= link_to("Curate", [:support, item], method: :put, remote: true, class: "buy button item-#{item.id} support") %>
        <% end %>
      <% else %>
      <%= link_to("Buy", new_user_session_path, :"data-fancybox-type" => "ajax", class: "buy fancybox fancybox.ajax") %>
      <% end %>
    </div>

    <div class="info">
      <% if activity && activity.action == 'support' %>
      <%= link_to("Curated by #{activity.owner.name}", activity.owner, class: "curator") %>
      <%= link_to("Supplied by #{item.boutique.name}", item.boutique, class: "supplier") %>
      <% else %>
        <% if item.boutique_id == current_user.parent_id %>
          <%= link_to("Curated By #{item.supporters.count} Boutique#{'s' unless item.supporters.count == 1}", item_declinations_path(item), class: "supplier one-line fancybox fancybox.ajax") %>
        <% else %>
          <%= link_to("Supplied by #{item.boutique.name}", item.boutique, class: "supplier one-line") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if current_user_owns_item?(item) %>
    <%= form_for(item, remote: true, html: { class: "item-quantity" }) do |f| %>
      <%= render("items/quantity", item: item)  %>
      <%= submit_tag("Update Quantities") %>
      <%= link_to("Edit Item", [:edit, item]) %>
      <%= link_to("Close", "#", class: "buy button edit item-#{item.id} closeButton") if current_user_owns_item?(item) %>
    <% end %>
  <% end %>
<% end %>
