<article class="item">
  <div>
    <div class="img">
      <%= link_to(image_tag(item.primary_photo.url.stream), item, class: "img fancybox fancybox.ajax") %>
    </div>

    <div class="details">
      <%= link_to(image_tag("feed/favorite.png"), item_favorite_path(item.id), method: :put, class: "favorite") if current_user %>

      <p class="name">
        <%= link_to(item.name, item, class: "fancybox fancybox.ajax") %><br>
        <%= link_to("Designed By #{item.brand.name}", item, class: "fancybox fancybox.ajax") %>
      </p>

      <%= content_tag(:span, "<em>#{number_to_currency(item.price)}</em>".html_safe, class: "price") %>

      <% if current_user && current_user.parent_id.blank? %>
      <%= link_to("Buy", item, class: "buy fancybox fancybox.ajax") %>
      <% elsif current_user %>
        <% if current_user.parent.supported_item_ids.include?(item.id) %>
        <%= link_to("Unsupport", [:unsupport, item], method: :put, remote: true, class: "buy") %>
        <% else %>
        <%= link_to("Support", [:support, item], method: :put, remote: true, class: "buy") %>
        <% end %>
      <% end %>

      <div class="social">
        <%= link_to(image_tag("feed/facebook.png"), item) %>
        <%= link_to(image_tag("feed/twitter.png"), item) %>
        <%= link_to(image_tag("feed/pinterest.png"), item) %>
      </div>
    </div>

    <div class="info">
      <% if activity && activity.action == 'support' %>
      <%= link_to("Supported by #{activity.owner.name}", activity.owner, class: "curator") %>
      <%= link_to("Supplied by #{item.boutique.name}", item.boutique, class: "supplier") %>
      <% else %>
      <%= link_to("Supplied by #{item.boutique.name}", item.boutique, class: "supplier one-line") %>
      <% end %>
    </div>
  </div>
</article>
