<article class="item">
	<div>
		<div class="img">
			<%= link_to(image_tag("feed/dress.jpg"), "#", class: "img") %>
		</div>

		<div class="details">
			<%= link_to(image_tag("feed/favorite.png"), "#", class: "favorite") %>

			<p class="name">
				<a class="item-name" href="#">Dress abc</a><br>
				<a href="#">Designed By Rag</a>
			</p>

			<span class="price"><em>$1,085</em></span>

			<p class="sizes">
				Available Sizes:<br>
				S,M,XL
			</p>

			<%= link_to("Buy", "#", class: "buy") %>

			<div class="social">
				<%= link_to(image_tag("feed/facebook.png"), "#") %>
				<%= link_to(image_tag("feed/twitter.png"), "#") %>
				<%= link_to(image_tag("feed/pinterest.png"), "#") %>
			</div>
		</div>

		<div class="info">
			<span class="curator">Curated by Boulder shop</span>
			<span class="supplier">Supplied by Aspen Boutique</span>
		</div>
	</div>
</article>
