<article class="item">
	<div>
		<div class="img">
			<%= link_to(image_tag("feed/dress.jpg"), item_path("1"), class: "img") %>
		</div>

		<div class="details">
			<%= link_to(image_tag("feed/favorite.png"), item_favorite_path("1"), method: :put, class: "favorite") %>

			<p class="name">
				<%= link_to("Dress ABC", item_path("1"), class: "fancybox", :"data-fancybox-type" => "ajax") %><br>
				<%= link_to("Designed By Rag", item_path("1")) %>
			</p>

			<%= content_tag(:span, "<em>$250</em>".html_safe, class: "price") %>

			<%= content_tag(:p, class: "sizes") do %>
				Available Sizes:<br>
				S,M,XL
			<% end %>

			<%= link_to("Buy", item_path("1"), class: "buy") %>

			<div class="social">
				<%= link_to(image_tag("feed/facebook.png"), item_path("1")) %>
				<%= link_to(image_tag("feed/twitter.png"), item_path("1")) %>
				<%= link_to(image_tag("feed/pinterest.png"), item_path("1")) %>
			</div>
		</div>

		<div class="info">
			<span class="curator">Curated by Boulder shop</span>
			<span class="supplier">Supplied by Aspen Boutique</span>
		</div>
	</div>
</article>
