<article class="item">
  <div>
    <div class="img">
      <%= link_to(image_tag(item.primary_photo.url.stream), item, class: "img fancybox fancybox.ajax") %>
    </div>

    <div class="details">
      <%= link_to(image_tag("feed/favorite.png"), item_favorite_path(item.id), method: :put, class: "favorite") %>

      <p class="name">
        <%= link_to(item.name, item, class: "fancybox fancybox.ajax") %><br>
        <%= link_to("Designed By #{item.brand.name}", item, class: "fancybox fancybox.ajax") %>
      </p>

      <%= content_tag(:span, "<em>#{number_to_currency(item.price)}</em>".html_safe, class: "price") %>

      <%= content_tag(:p, class: "sizes") do %>
        Available Sizes:<br>
        S,M,XL
      <% end %>

      <%= link_to("Buy", item, class: "buy fancybox fancybox.ajax") %>

      <div class="social">
        <%= link_to(image_tag("feed/facebook.png"), item) %>
        <%= link_to(image_tag("feed/twitter.png"), item) %>
        <%= link_to(image_tag("feed/pinterest.png"), item) %>
      </div>
    </div>

    <div class="info">
      <%= link_to("Curated by #{item.boutique.name}", item.boutique, class: "curator") %>
      <%= link_to("Supplied by #{item.supplier.name}", item.supplier, class: "supplier") %>
    </div>
  </div>
</article>
