<div id="stream">
	<% 1.upto(5) do %>
			<article class="store">
				<div>
					<div class="img">
						<%= link_to(image_tag("feed/bout.jpg"), "#", class: "img") %>
					</div>
					<div class="binfo">
						<p class="bname">
							<%= link_to("Boulder Boutique", boutique_path("test"), class: "boutique-name") %><br>
							<a href="#">Boulder, CO</a>
						</p>

						<%= link_to("Unfollow", "#", class: "unfollow") %>

						<p class="support">
							<a href="#">1,000 Followers</a><br>
							<a href="#">500 Supported Items</a>
						</p>
					</div>
				</div>
			</article>
			<article class="item">
				<div>
					<div class="img">
						<%= link_to(image_tag("feed/dress.jpg"), "#", class: "img") %>
					</div>
					<div class="details">
						<span class="price">$1,085</span>
						<%= link_to(image_tag("feed/star.png"), "#", class: "star") %>

						<p class="name">
							<a class="item-name" href="#">Dress abc</a><br>
							<a href="#">by Designer A</a><br>
							<a href="#">Spring 2013</a>
						</p>

						<%= link_to("Buy", "#", class: "buy") %>

						<div class="social">
							<%= link_to(image_tag("feed/facebook.png"), "#") %>
							<%= link_to(image_tag("feed/twitter.png"), "#") %>
							<%= link_to(image_tag("feed/pinterest.png"), "#") %>
						</div>
					</div>
					<div class="info">
						<span class="store">Boulder Boutique</span>
						<span class="city">MI</span>
					</div>
				</div>
			</article>
			<article class="item">
				<div>
					<div class="img">
						<%= link_to(image_tag("feed/jewelry.jpg"), "#", class: "img") %>
					</div>
					<div class="details">
						<span class="price">$1,085</span>
						<%= link_to(image_tag("feed/star.png"), "#", class: "star") %>

						<p class="name">
							<a class="item-name" href="#">Dress abc</a><br>
							<a href="#">by Designer A</a><br>
							<a href="#">Spring 2013</a>
						</p>

						<%= link_to("Buy", "#", class: "buy") %>

						<div class="social">
							<%= link_to(image_tag("feed/facebook.png"), "#") %>
							<%= link_to(image_tag("feed/twitter.png"), "#") %>
							<%= link_to(image_tag("feed/pinterest.png"), "#") %>
						</div>
					</div>
					<div class="info">
						<span class="store">Boulder Boutique</span>
						<span class="city">MI</span>
					</div>
				</div>
			</article>
	<% end %>
</div>
