<%= content_tag(:div, id: "stream-subcategories") do %>
  <nav>
    <ul>
      <%= content_tag(:li, link_to("All #{@category.name}", [:stream, @category], class: (params[:category].to_i == @category.id) ? "active" : nil)) %>
      <% @subcategories.each do |category| %>
      <%= content_tag(:li, link_to(category.name, [:stream, category], class: (params[:category].to_i == category.id) ? "active" : nil)) %>
      <% end %>
    </ul>
  </nav>
<% end if @category %>

<%= content_tag(:div, class: "notification error") do %>
  <em>Oh No!</em>
  It looks like you have nothing left in your "STREAM". Click on "SEARCH" to further customize, discover, and add new boutiques to your stream.
<% end if @activity_items.blank? %>

<div id="stream">
  <% @activity_items.each do |activity, item| %>
    <%= render("stream/item", activity: activity, item: item) %>
  <% end %>
</div>

<script>$(function() { SiteBindings.streamItems(); });</script>
