<%= content_tag(:p, flash[:alert], class: "notification error") if flash[:alert].present? %>

<div id="login">
  <%= form_tag(user_session_path) do %>
    <div class="group half-width">
      <%= link_to("Login", "#", class: "active") %>
      <%= link_to("Sign Up", new_user_registration_path, class: "fancybox", :"data-fancybox-type" => "ajax") %>
    </div>

    <div class="group">
      <%= email_field_tag(:"user[email]", "", placeholder: "Email", autofocus: true) %>
      <%= password_field_tag(:"user[password]", "", placeholder: "Password") %>
      <%= submit_tag("Login") %>
    </div>

    <div class="group">
      <div class="or">or</div>
    </div>

    <div class="group">
      <%= link_to(omniauth_authorize_path("user", "twitter"), class: "twitter") do %>
        <%= image_tag("home/twitter.png") %>
        <span>Login with Twitter</span>
      <% end %>

      <%= link_to(omniauth_authorize_path("user", "facebook"), class: "facebook") do %>
        <%= image_tag("home/facebook.png") %>
        <span>Login with Facebook</span>
      <% end %>
    </div>

    <div class="group">
      <%= link_to("Forgot Password?", new_user_password_path, class: "forgot fancybox", :"data-fancybox-type" => "ajax") %>
    </div>
  <% end %>
</div>
