<%= form_for(@item, id: "mainForm") do |f| %>
  <div class="separator">
    <span>Basic Item Information</span>
  </div>

  <div class="row brand-select">
    <%= f.select(:brand_id, @brands.map{|b| [b.name, b.id] } << ["(ADD A NEW DESIGNER)", -1], :prompt => "Designer") %>
  </div>

  <div class="row brand-add">
    <%= text_field_tag(:brand_name, "", placeholder: "Add a new Designer", class: "form-control") %>
    <%= content_tag(:span, button_tag("Add Designer", class: "btn btn-xs btn-primary"), class: "input-group-addon", id: "add-brand") %>
  </div>

    <div class="row">
      <%= f.text_field(:style, required: true, :placeholder => "Style Number", class: "required") %>
  </div>

  <div class="row">
      <%= f.text_field(:name, required: true, :placeholder => "Item Name", class: "required") %>
  </div>

  <div class="row">
    <div class="moneyField">
      <div class="dollarBefore">$</div>
      <%= f.text_field(:price, value: number_to_currency(@item.price, unit: ""), required: true, :placeholder => " Retail Price", class: "required") %>
    </div>
  </div>

  <div class="nextStep">
    <div id="updateItem" class="update1">
      Continue
    </div>
    <div class="steps step1">Step 1 of 5</div>
  </div>

  <div class="aboutItem">
    <div class="separator">
      <span>About the Item</span>
    </div>

    <div class="row category-select">
      <%= f.select(:primary_category_id, @primary_categories.map{|c| [c.name, c.id] }, {:prompt => "Primary Category"}, required: true, class: "required") %>
    </div>

    <div class="row secondary-category">
      <%= f.select(:secondary_category_id, [], {}, required: true, class: "required") %>
    </div>

    <div class="row">
      <%= f.text_area(:description, required: true, :placeholder => "Tell everyone about the item and let them know what color it is.", class: "required") %>
    </div>

    <div class="row">
        <%= f.text_area(:fit, :placeholder => "How does it fit? (Optional)") %>
    </div>

    <div class="row">
      <%= f.text_area(:construction, :placeholder => "What is it made of? (Optional)") %>
    </div>

    <div class="nextStep">
      <div id="updateItem" class="update2">
        Continue
      </div>
      <div class="steps step2">Step 2 of 5</div>
    </div>
  </div>

  <div class="sizeQuantity">
    <div class="separator">
      <span>Sizes &amp; Quantity</span>
    </div>

    <div class="row">
      <p>
        Enter the size and quantity for each item. 
        For "Size", type in size exactly as show on product tag. (e.g. S, Small, 1)
      </p>
    </div>

    <%= render("items/quantity", item: @item) %>

    <div class="nextStep">
      <div id="updateItem" class="update3">
        Continue
      </div>
      <div class="steps step3">Step 3 of 5</div>
    </div>
  </div>
  <div class="trunksaleDiscountSection">
    <div class="separator">
      <span>List on The Trunksale</span>
    </div>
    <div class="row">
      <p>
        Would you like to list this item on the Trunksale?
      </p>
    </div>
    <div class="row secondary-category">
      <%= f.select(:list_on_trunksale, [['No', 1], ['Yes', 2]]) %>
    </div>
    <div class="trunksaleDiscountEntry">
      <div class="row">
        <p>
          Enter the base price (the amount you would like to get paid for the item).
        </p>
      </div class="trunksaleDiscount">
      <div class="row">
        <div class="moneyField">
          <div class="dollarBefore">$</div>
          <%= f.text_field(:discount_amount, value: number_to_currency(@item.discount_amount, unit: ""), :placeholder => "Base Price", class: "required") %>
        </div>
      </div>
      <div class="pricingResults">
        <div class="discount">
          <span class="displayName">Discount Amount</span>
          <span class="displayAmount displayAmount2"></span>
        </div>
        <div class="listPrice">
          <span class="displayName">List Price</span>
          <span class="displayAmount displayAmount1"></span>
        </div>
        <div class="commission">
          <span class="displayName">Trunksale Commission</span>
          <span class="displayAmount displayAmount3"></span>
        </div>
        <div class="proceeds">
          <span class="displayName">Your Proceeds</span>
          <span class="displayAmount displayAmount4"></span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="hideMobile">
    <div class="separator">
      <span>Model Measurements</span>
    </div>

    <div class="row">
      <div class="col-4">
        <%= f.label(:model_height, 'height') %>
        <%= f.text_field(:model_height) %>
      </div>

      <div class="col-4">
        <%= f.label(:model_chest, 'bust') %>
        <%= f.text_field(:model_chest) %>
      </div>

      <div class="col-4">
        <%= f.label(:model_waist, 'waist') %>
        <%= f.text_field(:model_waist) %>
      </div>

      <div class="col-4">
        <%= f.label(:model_hips, 'hips') %>
        <%= f.text_field(:model_hips) %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= f.label(:model_size, 'Model is wearing a ') %>
        <%= f.text_field(:model_size, placeholder: "small, medium, large, etc.") %>
      </div>
    </div>
 
    <div class="separator">
      <span>Optional: Weight &amp; Packaged Size</span>
    </div>

    <div class="row">
      <div class="col-2">
        <%= f.label(:weight) %>
        <%= f.text_field(:weight, required: true, class: "required") %>
      </div>

      <div class="col-2">
        <%= f.label(:packaging_width) %>
        <%= f.text_field(:packaging_width, required: true, class: "required") %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= f.label(:packaging_height) %>
        <%= f.text_field(:packaging_height, required: true, class: "required") %>
      </div>

      <div class="col-2">
        <%= f.label(:packaging_length) %>
        <%= f.text_field(:packaging_length, required: true, class: "required") %>
      </div>
    </div>
  </div>
  <hr>

  <div class="finishForm finish1">
    <%= submit_tag(@item.persisted? ? "Update Item" : "Continue") %>
    <%= link_to("Remove Item", item_path, method: :delete, data: { confirm: "Are you sure that you want to remove #{@item.name}?" }, class: "remove") if @item.persisted? %>
    <div class="steps step4">Step 4 of 5</div>
  </div>
<% end %>
<%= form_for(:photo, url: [@item, :photos], multipart: true, html: { id: "photo-upload" }) do |f| %>
  <div class="separator photographs">
    <span>Photos</span>
  </div>
    <div class="row">
      <p>
        Add photos by clicking the button below or by using the Trunkit app. Our team will remove the background and the item look amazing. All items MUST BE shot on a model against a solid background. For further photo guidelines, how to's and best practices click <a href="https://trunkit.zendesk.com/hc/en-us/articles/203313065" target="_blank">here</a>.<br><br>If you are too busy to take the photos, our other partners have had success contacting the brand and asking for their photos.
    </div>

  <div class="centerPic">
    <div class="row photo">
      <div id="item-photos">
        <%= render(partial: "items/item_photo", collection: @item.photos, as: :photo) %>
      </div>

      <%= content_tag(:span, class: "button") do %>
        <span>Add New Photo(s)</span>
        <%= f.file_field(:url, multiple: true) %>
      <% end %>
    </div>
  </div>
<% end if @item.persisted? %>

<div class="finishForm finish2">
  <div id="updateItem" class="update4">
    Complete
  </div>
  <%= link_to("Remove Item", item_path, method: :delete, data: { confirm: "Are you sure that you want to remove #{@item.name}?" }, class: "remove") if @item.persisted? %>
</div>

<script>
$(function() {
  var secondaryCategories = <%= @secondary_categories.to_json.html_safe %>;
  SiteBindings.item.form(<%= @item.id || 'null' %>, <%= @item.secondary_category_id || 'null' %>, secondaryCategories);
  SiteBindings.item.brands();
});
</script>


