<article class="item">
  <section class="photos">
    <%= image_tag(@item.primary_photo.url.details) %>

    <div class="thumbs">
      <% @item.photos.each do |photo| %>
      <%= link_to(image_tag(photo.url.thumb.to_s), photo.url.details.to_s) %>
      <% end %>
    </div>
  </section>

  <section class="info">
    <%= content_tag(:h1, @item.name) %>
    <%= content_tag(:h2, "Designed by #{@item.brand.name}") %>
    <%= content_tag(:span, number_to_currency(@item.price)) %>

    <hr>

    <div class="cart">
      <%= form_for([:cart, @cart_item], remote: true) do |f| %>
        <%= f.hidden_field(:item_id, value: @item.id)  %>
        <%= f.hidden_field(:supporting_boutique_id, value: @activity.owner_id) if @activity %>

        <%= f.select(:size, @item.active_sizes, {}, class: "size") %>
        <%= f.select(:quantity, item_quantities, {}, class: "quantity") %>

        <%= button_tag("Add to Cart", type: "submit") %>
      <% end if current_user.parent_type.blank? %>

      <% if current_user.parent_type == "Boutique" %>
        <% if current_user.parent.supported_item_ids.include?(@item.id) %>
        <%= link_to("Uncurate", [:unsupport, @item], method: :put, remote: true, class: "buy button item-#{@item.id} unsupport") %>
        <% else %>
        <%= link_to("Curate", [:support, @item], method: :put, remote: true, class: "buy button item-#{@item.id} support") %>
        <% end %>
      <% end %>
    </div>

    <hr>

    <%= content_tag(:div, class: "description") do %>
      <span>About the Clothes:</span>
      <%= markdown(@item.description) %>
    <% end if @item.description.present? %>

    <%= content_tag(:div, class: "description") do %>
      <span>How Do They Fit?</span>
      <%= markdown(@item.fit) %>
    <% end if @item.fit.present? %>

    <%= content_tag(:div, class: "description") do %>
      <span>What Are The Clothes Made Of?</span>
      <%= markdown(@item.construction) %>
    <% end if @item.construction.present? %>

    <%= content_tag(:div, class: "description") do %>
      <span>Model Measurements:</span>
      <ul>
        <%= content_tag(:li, "#{@item.model_height}&#8243; height".html_safe) if @item.model_height.present? %>
        <%= content_tag(:li, "#{@item.model_chest}&#8243; bust/chest".html_safe) if @item.model_chest.present? %>
        <%= content_tag(:li, "#{@item.model_waist}&#8243; waist".html_safe) if @item.model_waist.present? %>
        <%= content_tag(:li, "#{@item.model_hips}&#8243; hips".html_safe) if @item.model_hips.present? %>
        <%= content_tag(:li, "Model is wearing a #{@item.model_size}") if @item.model_size.present? %>
      </ul>
    <% end if @item.has_measurements? %>
  </section>
</article>

<script>
var itemSizes = <%= @item.sizes.to_json.html_safe %>;
$(function() { SiteBindings.item.details(itemSizes); });
</script>
