<div class="checkout" id="checkout-confirm">
  <h1>Checkout</h1>

  <nav>
    <ul>
      <%= content_tag(:li, link_to("Shopping Cart", cart_path), class: "active") %>
      <%= content_tag(:li, link_to("Shipping Address", checkout_shipping_addresses_path), class: "active") %>
      <%= content_tag(:li, link_to("Delivery Options", checkout_delivery_options_path), class: "active") %>
      <%= content_tag(:li, link_to("Payment Method", checkout_payment_method_path), class: "active") %>
      <li class="active">Confirm Order</li>
    </ul>
  </nav>

  <h2>Please Review The Shipping and Payment Details</h2>

  <div class="order-details">
    <address>
      <h6>Shipping Address</h6>
      <%= current_cart.shipping_address.to_s.gsub("\n", "<br>").html_safe %><br>
      <%= link_to("Change", checkout_shipping_addresses_path) %>
    </address>

    <%= content_tag(:div, class: "payment-info") do %>
      <h6>Trunkit Credit</h6>
      <%= content_tag(:span, "Credit Balance: #{number_to_currency(-current_user.account_balance)}", class: "name") %>
    <% end if current_user.account_balance < 0 %>

    <%= content_tag(:div, class: "payment-info") do %>
      <h6>Credit/Debit Card Info</h6>
      <%= content_tag(:span, @token.card.name, class: "name") %>

      <span class="card-type">
        <%= content_tag(:em, @token.card.type, class: @token.card.type.downcase.gsub(/[^a-z]/, '-')) %>

        <span>
          ending in <%= @token.card.last4 %>
        </span>
      </span>

      <%= link_to("Change", checkout_payment_method_path) %>
    <% end if current_cart.total_price_after_credit > 0 %>
  </div>

  <div class="items">
    <header>
      <div class="name">Item(s)</div>
      <div class="unit">Item Price</div>
      <div class="delivery">Delivery</div>
      <div class="total">Total</div>
    </header>

    <% current_cart.items.each do |cart_item| %>
    <div class="wrapper">
      <div class="row">
        <div class="name">
          <%= image_tag(cart_item.item.primary_photo.url.thumb) %>

          <div>
            <%= content_tag(:span, cart_item.item.name) %>

            <ul>
              <%= content_tag(:li, "Size: #{cart_item.size}") if cart_item.size.present? %>
              <%= content_tag(:li, "Quantity: #{cart_item.quantity}") %>
            </ul>
          </div>
        </div>

        <%= content_tag(:div, number_to_currency(cart_item.unit_price), class: "unit") %>
        <%= content_tag(:div, number_to_currency(cart_item.shipping), class: "delivery") %>
        <%= content_tag(:div, number_to_currency(cart_item.subtotal_with_shipping), class: "total") %>
      </div>
    </div>
    <% end %>

    <footer>
      <%= content_tag(:div, "Taxes: #{number_to_currency(current_cart.tax)}", class: "tax") %>
      <%= content_tag(:div, "Total: #{number_to_currency(current_cart.total_price)}", class: "total") %>

      <% if current_user.account_balance < 0 %>
        <%= content_tag(:div, "Trunkit Credit: #{number_to_currency(-current_user.account_balance)}", class: "total") %>
        <%= content_tag(:div, "Total After Credit: #{number_to_currency(current_cart.total_price_after_credit)}", class: "total") %>
      <% end %>
    </footer>
  </div>

  <%= link_to("Place Order", "#confirm-barrier", class: "fancybox btn order place-order") %>
</div>

<div id="confirm-barrier">
  <h1>Confirm Purchase</h1>

  <p>All shipping and returns are handled directly by the boutique "supplier". The boutique that curated the item is NOT involved in the shipping or return process.</p>

  <p><%= link_to("Contact Us", "#") %> if you have any questions or concerns.</p>

  <%= link_to("Confirm", checkout_order_path, data: { method: :put, remote: true }, class: "btn order") %>
</div>
