<div class="signInNav">
	<%= link_to("Sign Up", new_user_registration_path, class: "signup fancybox", :"data-fancybox-type" => "ajax") %>
	<%= image_tag "header/line.png" , class: "spaceLine" %>
	<%= link_to("Login", new_user_session_path, class: "login fancybox", :"data-fancybox-type" => "ajax") %>
	<%= image_tag "header/line.png" , class: "spaceLine" %>
	<%= link_to "Boutique Info", "http://boutique.trunkit.com", class: "signup", target: "_blank" %>
</div>
