<nav>
	<ul>
		<li class="active">
			<%= link_to("Stream", stream_path, class: "stream") %>

			<span></span>

			<ul>
				<%= content_tag(:li, link_to("All", "#")) %>
				<%= content_tag(:li, link_to("Clothing", "#")) %>
				<%= content_tag(:li, link_to("Shoes", "#")) %>
				<%= content_tag(:li, link_to("Accessories", "#")) %>
				<%= content_tag(:li, link_to("Bags", "#")) %>
				<%= content_tag(:li, link_to("Following", stream_following_path), class: "following") %>
			</ul>
		</li>

		<%= content_tag(:li, link_to("Favorites", favorites_path, class: "favorites")) %>

		<%= content_tag(:li, link_to("Discover", discover_path, class: "discover")) %>
	</nav>

<div class="right">
	<div class="cart">
		<span>0</span>
	</div>

	<div class="user">
		<%= image_tag("header/user-photo.png") %>
		<%= content_tag(:span, current_user.first_name) %>
		<%= link_to(image_tag("header/dropdown-arrow.png"), "#") %>

		<ul>
			<%= content_tag(:li, link_to("Settings", "/consumer/settings")) %>
			<%= content_tag(:li, link_to("Invite Friends", "/consumer/invite")) %>
			<%= content_tag(:li, link_to("Help", "/help")) %>
			<%= content_tag(:li, link_to("About Trunkit", "/about-trunkit")) %>
			<%= content_tag(:li, link_to("Terms of Service", "/terms-of-service")) %>
			<%= content_tag(:li, link_to("Sign Out", logout_path)) %>
		</ul>
	</div>
</div>
