<nav class="system">
	<ul>
		<%= content_tag(:li, link_to("Brands", [:admin, :brands])) %>
		<%= content_tag(:li, link_to("Boutiques", [:admin, :boutiques])) %>
		<%= content_tag(:li, link_to("Items", [:admin, :items])) %>
		<%= content_tag(:li, link_to("Orders", [:admin, :orders])) %>
		<%= content_tag(:li, link_to("Users", [:admin, :users])) %>
	</nav>

<div class="right">
	<div class="user">
		<%= image_tag(current_user.photo.thumb.url) %>
		<%= content_tag(:span, current_user.first_name) %>
		<%= link_to(image_tag("header/dropdown-arrow.png"), "#") %>

		<ul>
			<%= content_tag(:li, link_to("Settings", "#")) %>
			<%= content_tag(:li, link_to("Sign Out", destroy_user_session_path, method: :delete)) %>
		</ul>
	</div>
</div>
