<nav>
	<ul>
		<%= content_tag(:li, class: active_css_class(/^\/(stream|items)/)) do %>
			<%= link_to("Stream", stream_path, class: "stream") %>

			<ul>
				<%= content_tag(:li, link_to("All", "#")) %>
				<%= content_tag(:li, link_to("Clothing", "#")) %>
				<%= content_tag(:li, link_to("Shoes", "#")) %>
				<%= content_tag(:li, link_to("Accessories", "#")) %>
				<%= content_tag(:li, link_to("Bags", "#")) %>
				<%= content_tag(:li, link_to("Following", stream_following_path, class: "following")) %>
			</ul>
		<% end %>

		<%= content_tag(:li, link_to("Favorites", favorites_path, class: "favorites"), class: active_css_class(/^\/favorites/)) %>

		<%= content_tag(:li, class: active_css_class(/^\/discover/)) do %>
			<%= link_to("Discover", discover_path, class: "discover") %>

			<ul>
				<%= content_tag(:li, link_to("Goods", "#")) %>
				<%= content_tag(:li, link_to("Boutiques", "#")) %>
			</ul>
		<% end %>
	</nav>

<div class="right">
	<div class="cart">
	</div>

	<div class="user">
		<%= image_tag(current_user.photo.thumb.url) %>
		<%= content_tag(:span, current_user.first_name) %>
		<%= link_to(image_tag("header/dropdown-arrow.png"), "#") %>

		<ul>
			<%= content_tag(:li, link_to("Settings", "/consumer/settings")) %>
			<%= content_tag(:li, link_to("Invite", "/consumer/invite")) %>
			<%= content_tag(:li, link_to("Help", "/help")) %>
			<%= content_tag(:li, link_to("About", "/about-trunkit")) %>
			<%= content_tag(:li, link_to("Terms", "/terms-of-service")) %>
			<%= content_tag(:li, link_to("Sign Out", destroy_user_session_path, method: :delete)) %>
		</ul>
	</div>
</div>
