<!DOCTYPE html>
<html>
<head>
  <title>Swayly</title>
  <%= stylesheet_link_tag("application", media: "all") %>
  <%= javascript_include_tag("application") %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="content">
			<a href="/" class="tagline">Swayly</a>

			<nav>
				<ul>
					<li class="active">
						<%= link_to("Stream", "#", class: "stream") %>

						<span></span>

						<ul>
							<%= content_tag(:li, link_to("All", "#")) %>
							<%= content_tag(:li, link_to("Clothing", "#")) %>
							<%= content_tag(:li, link_to("Shoes", "#")) %>
							<%= content_tag(:li, link_to("Accessories", "#")) %>
							<%= content_tag(:li, link_to("Bags", "#")) %>
							<%= content_tag(:li, link_to("Following", "#"), class: "following") %>
						</ul>
					</li>

					<%= content_tag(:li, link_to("Discover", "#", class: "discover")) %>
					<%= content_tag(:li, link_to("Favorites", "#", class: "favorites")) %>
					<%= content_tag(:li, link_to("Search", "#", class: "search")) %>
				</ul>
			</nav>

			<div class="right">
				<div class="cart">
					<span>0</span>
				</div>

				<div class="user">
					<%= image_tag("layout/user-photo.png") %>
					<span>Sam</span>
					<%= link_to(image_tag("layout/dropdown-arrow.png"), "#") %>
				</div>
			</div>
		</div>
	</header>

	<div id="container">
		<%= yield %>
	</div>
</body>
</html>
