<!DOCTYPE html>
<html>
  <head>
    <title>Trunkit</title>
    <%= stylesheet_link_tag("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css") %>
    <%= stylesheet_link_tag("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css") %>
    <%= stylesheet_link_tag("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css") if current_user.try(:has_role?, :system) %>
    <%= stylesheet_link_tag("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css") if current_user.try(:has_role?, :system) %>

    <%= stylesheet_link_tag("application", media: "all") %>

    <%= javascript_include_tag("//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js") %>
    <%= javascript_include_tag("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js") %>
    <%= javascript_include_tag("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js") %>
    <%= javascript_include_tag("https://js.stripe.com/v2/") %>
    <%= javascript_include_tag("//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js") if current_user.try(:has_role?, :system) %>
    <%= javascript_include_tag("application") %>

    <%= csrf_meta_tags %>
  </head>

  <%= content_tag(:body, class: (!current_user ? 'public' : nil)) do %>
    <header>
      <div class="content">
        <%= link_to(image_tag("header/logo.png"), "/", class: "tagline") %>
        <%= main_nav %>
      </div>
    </header>

    <div id="container">
      <%= content_tag(:div, yield, id: "content") %>

      <footer>
        <span class="copyright">&copy; 2014 Swayly LLC. All rights reserved.</span>
      </footer>
    </div>

    <script>
    $(function() { $("a.fancybox").fancybox(); });
    </script>
  <% end %>
</html>
