<!DOCTYPE html>
<html>
	<head>
		<title>Trunkit</title>
		<%= stylesheet_link_tag("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css") %>
		<%= stylesheet_link_tag("home", media: "all") %>

		<%= javascript_include_tag("//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") %>
		<%= javascript_include_tag("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js") %>
		<%= javascript_include_tag("home") %>

		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="container">
			<header>
				<a href="/" class="tagline">Trunkit</a>
				<%= link_to("Sign In", new_user_session_path, class: "login") %>
			</header>

			<%= content_tag(:div, yield, id: "content") %>

			<footer>
				<span class="copyright">&copy; 2013 Trunkit LLC. All rights reserved.</span>
			</footer>
		</div>
	</body>
</html>
